version: '3.8'

services:
  # Servicio de la API
  api:
    build:
      context: ./api  # El contexto de construcci칩n es el directorio ./api
    container_name: api
    ports:
      - "5000:5000"
    environment:
      - API_ENV=production
    networks:
      - app_network

  # Servicio de Nginx
  web:
    image: nginx:latest
    container_name: web
    ports:
      - "80:80"
    volumes:
      - ./web:/usr/share/nginx/html  # Contenido est치tico de tu aplicaci칩n
      - ./nginx.conf:/etc/nginx/nginx.conf  # Configuraci칩n de Nginx
    networks:
      - app_network
    depends_on:
      - api  # Asegura que el servicio web depende del servicio api

networks:
  app_network:
    driver: bridge
